
<nav class="orange lighten-2" role="navigation">
  <div class="container">
    <div class="nav-wrapper"><a id="logo-container" href="{{ site.produrl }}" class="brand-logo">{{ site.title }}</a>
      <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="mailto:technion@lolware.net">Contact<i class="material-icons">email</i></a></li>
            <li><a href="https://github.com/technion/">Github<i class="material-icons">code</i></a></li>

        </ul>
        <ul class="side-nav" id="mobile-menu">
            <li><a href="mailto:technion@lolware.net">Contact<i class="material-icons">email</i></a></li>
            <li><a href="https://github.com/technion/">Github<i class="material-icons">email</i></a></li>

        </ul>
    </div>
  </div>
</nav>
